:root{
    --enjoy_font-family: 'OTEnjoystoriesBA';
    --gmarketBold_font-family: 'GmarketSansBold';
    --gmarketMedium_font-family: 'GmarketSansMedium';
    --noto_font-family: 'Noto Sans KR';
    --white_color:#FFFFFF;
    --white_background-color: #FFFFFF;
    --purple_color: #5B2386;
    --purple_background-color: #5B2386;
    --input-placeholder_color: #BABCBE;
    --yellow_background-color: #FCEE21;
}

*{
    box-sizing: border-box;
}
html{
    background-color: #5B2386;
}
.container{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    /* 피그마에서 봤을 때 제일 위쪽이 125px로 값이 나와서 내용 전체를 묶은 container에 margin-top 사용 */
    margin-top: 125px;
}
/* header 시작 */
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    /* header에 정확한 px 값을 주고 header-title에서 width: 100% 부여 */
}
.header-clock{
    width: 261px;
    height: 265px;
}
.header-title{
    /* position을 줘서 시계 앞에 올라오게 함 */
    position: absolute;
    width: 100%;
    /* 따로 height 값을 주지 않아도 112px 이었고, height: auto;를 줘도 112px이 됨 */
    height: auto;
}
/* main 시작 */
.main{
    /* 1만 시간의 법칙 header 영역과 떨어지게 하기 위함 */
    margin-top: 46px;
}
/* 아래 있는 resolution-section과 거리 벌리기 */
.dfn-section{
    margin-bottom: 8rem;
}
.dfn-section_h1{
    color: #F5DF4D;
    font-family: var(--enjoy_font-family);
    font-weight: 700;
    font-size: 36px;
}
.dfn-section_div{
    margin-top: 78px;
    display: flex;
    justify-content: center;
}
.quotes-img{
    /* 1만 시간의 법칙 정의보다 13px 내려와 있음 */
    margin-top: 13px;
}
.dfn-10000hours{
    /* 여기도 header와 마찬가지 */
    position: absolute;
    color: var(--white_color);
    font-family: var(--gmarketMedium_font-family);
    font-size: 18px;
    font-weight: 400;
    /* line-height은 px로 하지 말기 */
    line-height: 1.7;
    /* 이 부분 width 고정값이 아닌 유동적으로 하고 싶은데 어떻게? [???]*/
    width: 380px;
    /* 텍스트가 추가될 경우 줄바꿈 되도록 하지만 현재 이게 없어도 줄바꿈은 가능*/
    overflow-wrap: break-word;
}
.dfn-10000hours > strong{
    font-family: var(--gmarketBold_font-family);
    font-size: 24px;
    font-weight: 700;
}
/* .hidden을 사용하여 웹 접근성을 위해 clip-path를 이용하여 숨긴 것*/
/* 공통되는 곳 같은 클래스 사용 */
.hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip-path: polygon(0 0, 0 0, 0 0);
}
/* resolution 문장 공통 요소 클래스 묶어줌 */
.resolution-p{
    color: var(--white_color);
    font-family: var(--gmarketMedium_font-family);
    font-weight: 400;
    font-size: 24px;
    /* 임의로 설정함 [???]*/
    line-height: 3;
}
/* input 공통 요소 클래스 묶어줌 */
.resolution-p input{
    border-radius: 7px;
    background-color: var(--white_background-color);
    border: none;
    /* 24px에 맞추고 싶어서 1.5로 하고 싶은데 그러면 input 공간이 너무 커짐 [???] */
    font-size: 1.25rem;
    /* padding과 margin값 임의로 적용 */
    padding: 1em;
    margin: 1em;
}
/* placeholder 글씨가 가운데로 안맞춰짐 [???]*/
.resolution-p input::placeholder{
    color: var(--input-placeholder_color);
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
}
.resolution-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 115px;
}
.resolution-btn{
    margin-right: 7px;
}
/* 이런 클릭 이미지도 크기 자동 조절 위해 em 설정 */
.resolution-click_img{
    width: 4em;
    height: 4.5em;
}
/* 공통되는 요소 같은 클래스로 묶어줌 */
.yellow-bg-purple-font{
    background-color: var(--yellow_background-color);
    color: var(--purple_color);
    font-family: var(--gmarketMedium_font-family);
    font-size: 1.5rem;
    font-weight: 700;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 56px;
    padding: 21px 49px;
    border: none;
}
.resolution-click_img{
    /* 눈대중으로 맞춤 [???] */
    margin-top: 34px;
}
.result-section{
    margin-top: 135px;
}
.result-sentence{
    color: var(--white_color);
    font-family: var(--gmarketMedium_font-family);
    font-size: 1.5rem;
    font-weight: 400;
}
/* 공통되는 요소 같은 클래스로 묶어줌 */
.result-big-span{
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    /* 임의로 값을 잡음 */
    line-height: 1.5;
}
.result-big-span strong{
    font-size: 4.5rem;
    margin: 0 12px;
    font-weight: 700;
}
.gogo-share_btn{
    margin-top: 127px;
}
.share-btn{
    font-family: var(--gmarketMedium_font-family);
    font-size: 1.5rem;
    color: var(--purple_color);
    font-weight: 700;
    padding: 21px 49px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 56px;
    border: none;
    margin-left: 18px;
}
.footer{
    margin-top: 130px;
}
.footer img{
    margin-bottom: 20px;
}
.copyright-sentence{
    /* line-height 임의로 잡음 */
    line-height: 1.3rem;
    color: var(--white_color);
    font-family: var(--noto_font-family);
    font-weight: 400;
}
.modal-section{
    margin-top: 57px;
    width: 800px;
    height: 800px;
    background-color: var(--white_background-color);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    padding: 4.75em;
}
.modal-section span{
    display: block;
    color: var(--purple_color);
    font-family: var(--enjoy_font-family);
}
.modal-section span:first-child{
    font-size: 6rem;
}
.modal-section span:nth-child(2){
    font-size: 2.25rem;
}
.licat-img{
    margin-top: 29px;
}
.modal-btn{
    /* padding으로 위 아래 간격은 이미 주어져 있으니까 margin-top사용 안하고도 버튼을 제일 아래로 가게 하는 방법은? [???] */
    margin-top: 74px;
}